config MTK_CAMERA_ISP_RAW_SUPPORT_ISP50
	tristate "[ISP] Image Signal Processor - mt6771"
	help
	  Enable to build mt6771 camera isp driver which
	  processes and enhances the image raw data
	  from the imgsensor.
	  Disable if it is not supported or not wanted.
