&spi2 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	mediatek,tickdly = <22>, <0>;

	/delete-node/ goodix@0;

	multi-touchscreen@0{
		status = "disabled";
	};

	hbp_spi_bus0:hbp_spi@0 {
		compatible = "oplus,hbp_spi_bus";
		reg = <0x0>;
		status = "okay";

		spi-max-frequency = <19000000>;
		bus,spi-mode = <0>;
		bus,rx-dummy = <0>;
		bus,tx-dummy = <0>;
	};
};

&odm {
	focaltech:focaltech@0 {
		compatible = "focaltech,ft3683g";
		status = "okay";

		device,id = <0>;
		device,chip_name = "ft3683g";
		device,resolution = <19456 42240>;

		/*interrupt config*/
		interrupt-parent = <&pio>;
		interrupts = <9 0x2002>;
		irq-gpio = <&pio 9 0x2002>;

		pinctrl-names = "default",
			"ts_reset_active",
			"ts_reset_idle",
			"ts_resume",
			"ts_suspend";
		pinctrl-0 = <&ts_int_active &ts_reset_active>;
		pinctrl-1 = <&ts_reset_active>;
		pinctrl-2 = <&ts_reset_idle>;
		pinctrl-3 = <&ctp_oplus_spi_active>;
		pinctrl-4 = <&ctp_oplus_spi_suspend>;

		/*cs active state, not used now*/
		spi,cs_active = <0>;

		/*power config*/
		power,avdd-supply = <&mt6368_vtp>;
		power,avdd_volt = <3300000 3300000>;
		/*
		power,vddi-supply = <&mt6369_vtp>;
		power,vddi_volt = <1800000 1800000>;
		*/

		/*bus config*/
		device,attached_bus = <&hbp_spi_bus0>;
		create_with_power_on_support;
	};

	hbp:hbp@0 {
		compatible = "oplus,hbp_core";
		hbp,project = "whoopass-C2";
		hbp,devices = <&focaltech>;
	};
};

&pio {
	ts_int_active: ts_int_active {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO9__FUNC_GPIO9>;
			bias-disable;
			input-enable;
		};
	};
	ts_reset_active: ts_reset_active {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO60__FUNC_GPIO60>;
			output-high;
		};
	};
	ts_reset_idle: ts_reset_idle {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO60__FUNC_GPIO60>;
			output-low;
		};
	};
	ctp_oplus_spi_active: spi_active {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO11__FUNC_SPI2_CLK>,
				<PINMUX_GPIO12__FUNC_SPI2_CSB>,
				<PINMUX_GPIO13__FUNC_SPI2_MI>,
				<PINMUX_GPIO14__FUNC_SPI2_MO>;
			bias-disable;
			drive-strength = <4>;
		};
	};
	ctp_oplus_spi_suspend: spi_suspend {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO11__FUNC_GPIO11>,
					<PINMUX_GPIO12__FUNC_GPIO12>,
					<PINMUX_GPIO13__FUNC_GPIO13>,
					<PINMUX_GPIO14__FUNC_GPIO14>;
			bias-disable;
			output-low;
			drive-strength = <2>;
		};
	};
};
