CONFIG_TOUCHSCREEN_TD4160_TOUCH=m
CONFIG_DRM_PANEL_TD4160_BOE_HDP_VDO=m
CONFIG_DRM_PANEL_TD4160_HKC_HDP_VDO=m
CONFIG_SILEAD_FP=m
CONFIG_AW35615_PD=m
CONFIG_AW_USBPD=y
CONFIG_SND_SOC_AW87XXX=m
CONFIG_REGULATOR_DOVDD=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="hi5022q_mipi_raw gc08a8_mipi_raw"
CONFIG_SGM415xx_CHARGER=m
CONFIG_SC854X_CHARGER=m
