CONFIG_CAMEREA_PROJECT_TB8766P1_64=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="gc5035_mipi_raw hi556_mipi_raw gc2375h_mipi_raw"
CONFIG_MTK_LCM_PHYSICAL_ROTATION_HW=y
CONFIG_CHARGER_BQ25601=m
# CONFIG_DEVICE_MODULES_CHARGER_MT6370 is not set
# CONFIG_MTK_CHARGER is not set
# CONFIG_DEVICE_MODULES_CHARGER_MT6360 is not set
# CONFIG_MTK_CHARGER_TYPE_DETECT is not set
CONFIG_SND_SOC_AW87519=m
CONFIG_MICROTRUST_TEE_VERSION="515"
# CONFIG_SND_SOC_RT5509 is not set
# CONFIG_TYPEC is not set
# CONFIG_TYPEC_TCPM is not set
# CONFIG_TYPEC_TCPCI is not set
# CONFIG_TYPEC_UCSI is not set
# CONFIG_MTK_USB_TYPEC is not set
# CONFIG_TCPC_CLASS is not set
# CONFIG_MTK_TYPEC_WATER_DETECT is not set
# CONFIG_TCPC_RT1711H is not set
# CONFIG_TCPC_MT6375 is not set
# CONFIG_TCPC_MT6379 is not set
# CONFIG_TCPC_MT6370 is not set
# CONFIG_TCPC_MT6360 is not set
# CONFIG_MTK_USB_TYPEC_MUX is not set
# CONFIG_TYPEC_MUX_FUSB304 is not set
# CONFIG_TYPEC_MUX_PTN36241G is not set
# CONFIG_TYPEC_MUX_PS5169 is not set
# CONFIG_TYPEC_MUX_PS5170 is not set
# CONFIG_TYPEC_MUX_DP_SELECTOR is not set
# CONFIG_TYPEC_MUX_ALPHA_FSA4480 is not set
# CONFIG_COMMON_CLK_MT6781 is not set
# CONFIG_COMMON_CLK_MT6877 is not set
# CONFIG_COMMON_CLK_MT6897 is not set
# CONFIG_COMMON_CLK_MT6886 is not set
# CONFIG_COMMON_CLK_MT6893 is not set
# CONFIG_COMMON_CLK_MT6983 is not set
# CONFIG_COMMON_CLK_MT6985 is not set
# CONFIG_COMMON_CLK_MT6989 is not set
# CONFIG_COMMON_CLK_MT6899 is not set
# CONFIG_DEVICE_MODULES_COMMON_CLK_MT8192 is not set
# CONFIG_COMMON_CLK_MT8188 is not set
# CONFIG_COMMON_CLK_MT6833 is not set
