#ifdef OPLUS_FEATURE_OEM_OCDT
CONFIG_OPLUS_FEATURE_CMDLINE=m
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_OPLUS_FEATURE_OPROJECT=m
CONFIG_OPLUS_FEATURE_BUILDVARIANT=m
CONFIG_OPLUS_FEATURE_OPLUSBOOT=m
CONFIG_OPLUS_FEATURE_FTMMODE=m
CONFIG_OPLUS_FEATURE_CDT=m
#endif /* OPLUS_FEATURE_OEM_OCDT */


#ifdef OPLUS_FEATURE_OEM_BOOT_MODE
CONFIG_OPLUS_FEATURE_BOOTARGS=m
CONFIG_MTK_BOOT_COMMON=m
#endif /* OPLUS_FEATURE_OEM_BOOT_MODE */

CONFIG_OPLUS_DDK_MTK=y

CONFIG_OPLUS_FEATURE_DISPLAY_MAINLINE=y
CONFIG_MTK_ROUND_CORNER_SUPPORT=y
CONFIG_DRM_PANEL_AC178_P_3_A0004_DSI_CMD=m
CONFIG_DRM_OPLUS_DISPLAY_DSI_PRIMARY=m
#ifdef OPLUS_ARCH_EXTENDS
CONFIG_SND_SOC_SIA91XX_V3_1_0=m
CONFIG_OPLUS_MTK_AUDIO_EXT=m
CONFIG_OPLUS_FEATURE_MM_FEEDBACK=m
# add for audio daemon kernel with hifi adsp
CONFIG_AUDIO_DAEMON_KERNEL_MTK_HIFI=m
CONFIG_SND_SOC_TFA9874=m
CONFIG_SND_SOC_CODEC_AW882XX_V1_13_0=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
CONFIG_SND_SOC_TFA98XX=m
#add for usb type-c switch
CONFIG_SND_SOC_OPLUS_TYPEC_SWITCH=m
#endif
# add for oplus audio netlink kernel
CONFIG_AUDIO_NETLINK_KERNEL=m

# add for support hfcall
CONFIG_OPLUS_FEATURE_HFCALL=m

#ifndef OPLUS_FEATURE_SECURITY_COMMON
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
#endif /* OPLUS_FEATURE_SECURITY_COMMON */

CONFIG_OPLUS_CAM_EVENT_REPORT=m

CONFIG_OPLUS_FEATURE_GAME_ENABLE=y

#ifdef OPLUS_SENSOR_WAKEUP_TRACE
CONFIG_OPLUS_SENSOR_WAKEUP_TRACE=y
#endif

# Add for oplus vow monitor
CONFIG_OPLUS_FEATURE_VOW_MONITOR=y

#ifdef OPLUS_FEATURE_TRACE_SENSOR
CONFIG_OPLUS_FEATURE_TRACE_SENSOR=m
#endif
CONFIG_OPLUS_RPMH_MTK=y

#ifdef OPLUS_FEATURE_CHG_BASIC
# CONFIG_BATTERY_MT6359P is not set
# CONFIG_BATTERY_MT6358 is not set
CONFIG_OPLUS_WIRELESS_PEN=m
CONFIG_OPLUS_WIRELESS_PEN_CPS8601=y
CONFIG_OPLUS_CHG_RECOVERY=y
CONFIG_OPLUS_CHG_STATE_KEEP=y
CONFIG_OPLUS_CHG_MMS_DEBUG=y
#endif

CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY=y

