CONFIG_KCOV=y
CONFIG_KCOV_INSTRUMENT_ALL=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_FRAME_WARN=0
CONFIG_DEBUG_INFO=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
# CONFIG_RANDOMIZE_BASE is not set
# CONFIG_CFI_CLANG is not set
# CONFIG_DEBUG_INFO_COMPRESSED_ZLIB is not set
# CONFIG_DEBUG_INFO_COMPRESSED_ZSTD is not set
# CONFIG_FAULT_INJECTION is not set
